@import 'navbar.scss';

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1 {
  font-size: 3em;
  margin-top: 2.3rem;
  font-family: 'Oswald', 'Courier New', 'Times New Roman', sans-serif;
}

hr {
  border: none;
  height: 5px;
  text-align: center;
  margin: 0 auto;
  border-radius: 100px;
  color: #333;
  /* old IE */
  background-color: #333;
  /* Modern Browsers */
}

#first-header {
  width: 50%;
}

#skills-header {
  width: 10%;
}

h3 {
  font-family: 'Raleway', sans-serif;
}

h2 {
  margin-top: 3rem;
  font-family: 'Raleway', sans-serif;
}

h1,
h3,
h2 {
  text-align: center;
}

#home {
  position: relative;
  height: 100vh;
  max-height: 100vh;
  padding-top: 100px;
  background-color: purple;

  .imgs-wrapper {

    margin-top: 2rem;
    text-align: center;

    #html-css-js-img {
      width: 300px;
      height: 150px;
    }

    .other-skill-img {
      width: 150px;
      height: 150px;
    }

  }

}

#about {
  height: 100vh;
}
