@import 'navbar.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  height: 200vh;
  max-height: 300vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-size: 3em;
  margin-top: 2.3rem;
  font-family: 'Oswald', 'Courier New', 'Times New Roman', sans-serif;
}

hr {
  border: none;
  height: 5px;
  text-align: center;
  margin: 0 auto;
  border-radius: 100px;
  color: #333;
  /* old IE */
  background-color: #333;
  /* Modern Browsers */
}

#first-header {
  width: 50%;
}

#skills-header {
  width: 10%;
}

h3 {
  font-family: 'Raleway', sans-serif;
}

h2 {
  margin-top: 3rem;
  font-family: 'Raleway', sans-serif;
}

h1,
h3,
h2 {
  text-align: center;
}

.section {
  padding-top: 100px;
  height: 100vh;
}

.small-section {
  padding-top: 50px;
  height: 30vh;
}


#email-link-wrapper {

  padding: 10px;

  width: 400px;
  margin: 0 auto;
  text-align: center;

  a {

    color: black;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;

    span {
      margin: 0;
    }

  }
}

#home {

  .imgs-wrapper {

    margin-top: 2rem;
    text-align: center;

    #html-css-js-img {
      width: 300px;
      height: 150px;
    }

    .other-skill-img {
      width: 150px;
      height: 150px;
    }

  }

  #git-source {
    position: absolute;

    a {
      position: fixed;
      bottom: 0;
      color: black;
      margin: 1rem 1rem;
      font-family: 'Raleway', sans-serif;
    }

    :last-child {
      right: 0;
    }

  }

}

#about {

  .about-text-container {
    padding-top: 1.5rem;
    width: 1200px;
    text-align: center;
    margin: auto;
    font-family: 'Muli', sans-serif;
    font-size: 20px;
  }

}

#contact {}